@import "./style/header.css";
@import "./style/home.css";
@import "./style/quiz-list.css";
@import "./style/quiz.css";
@import "./style/category.css";
@import "./style/legal.css";
@import "./style/personalite.css";
@import "./style/emoji.css";
@import "./style/wordle.css";
@import "./style/pendu.css";
@import "./style/association.css";
@import "./style/chronoquiz.css";
@import "./style/memory.css";
@import "./style/quisuisje.css";
@import "./style/plusmoins.css";
@import "./style/image-mystere.css";
@import "./style/classement.css";
@import "./style/defi-carte-home.css";
@import "./style/defi-carte.css";
@import "./style/footer.css";

.adSlot {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  background-color: #2f54eb;
}


